.advantages {
    &__item {
        display: flex;
        align-items: flex-start;

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    &__img {
        width: 40px;
        flex: 0 0 40px;
        margin-right: 15px;
    }

    &__content {
        font-size: 15px;
        line-height: 20px;
        margin-top: 5px;
    }

    &__title {
        color: $dark;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 5px;
    }
}