.dropdown-menu {
    position: absolute;
    top: 100%;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all .2s;
    z-index: 100;

    &::before {
        content: '';
        display: block;
        position: absolute;
        transform: rotate(-45deg);
        pointer-events: none;
        z-index: -1;
    }

    &.show {
        opacity: 1;
        visibility: visible;
    }
}