.dropdown-menu {
    position: absolute;
    top: 110% !important;
    opacity: 0;
    visibility: hidden;
    transform: translate3d(0, 0, 0) !important;
    transition: top .2s, opacity .2s, visibility .2s;
    z-index: 100;
    &::before {
        content: '';
        display: block;
        position: absolute;
        transform: rotate(-45deg);
        pointer-events: none;
        z-index: -1;
        background: inherit;
    }

    &.show {
        top: 100% !important;
        opacity: 1;
        visibility: visible;
    }
}