.form {
    &_login, &_signup {
        display: none;
        &.active {
            display: block;
        }
    }

    &_login .form-services {
        padding-top: 32px;
        padding-bottom: 28px;
        margin-top: 70px;
        background: #F1F6FA;
    }

    &_signup .form-services {
        margin-bottom: 30px;
    }


    &__helpers {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__button {
        width: 100%;
    }

    &__privacy {
        font-size: 15px;
        line-height: 22px;
        margin-top: 30px;
        margin-bottom: 60px;
    }

    &-services {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: -60px;
        margin-right: -60px;
        padding-left: 60px;
        padding-right: 60px;
    
        &__title {
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 5px;
        }
    
        .socials__link:not(:last-child) {
            margin-right: 5px;
            margin-bottom: 5px;
        }

        @include phone {
            display: block;
            margin-left: -25px;
            margin-right: -25px;
            padding-left: 25px;
            padding-right: 25px;

            &__title {
                margin-bottom: 16px;
                br {
                    display: none;
                }
            }            

            .socials {
                justify-content: flex-start;
            }

        }
    }
    
}