.language {
    position: relative;
    display: inline-flex;
    align-items: center;
    height: 100%;
    margin-right: 15px;

    &__icon {
        flex: 0 0 24px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        border: 2px solid #fff;
        margin-right: 5px;
        background-image: url(../images/lang-sprite.png);
        background-size: cover;
        background-repeat: no-repeat;

        &_rus {
            background-position: 0 0;
        }
        &_eng {
            background-position: -20px 0;
        }
        &_esp {
            background-position: -40px 0;
        }
        &_de {
            background-position: -60px 0;
        }
    }

    &__arrow {
        width: 20px;
        height: 20px;
        background: url(../images/dropdown-arrow.svg) center/10px 6px no-repeat;
        transition: transform .2s;

        .show & {
            transform: rotateZ(180deg);
        }
    }

    &-select {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    &-dropdown {
        min-width: 120px;
        padding: 15px 10px;
        margin-top: 8px;
        margin-left: -10px;
        background-color: #fff;
        box-shadow: 0px 10px 30px rgba(19, 36, 52, 0.05);
        z-index: 101;

        &::before {
            width: 10px;
            height: 10px;
            top: -5px;
            left: 28px;
            background-color: #fff;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: $gray;
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }

        span {
            margin-left: 5px;
        }
    }
}