.modal {
    display: none;
    max-width: 100%;
    width: 480px;
    background: #FFFFFF;
    box-shadow: 0px 10px 100px rgba(42, 19, 52, 0.15);
    border-radius: 25px 0px;
    padding: 50px 60px 0;
    overflow: visible;
    cursor: default !important;

    @include phone {
        padding-left: 25px;
        padding-right: 25px;
    }

    .fancybox-close-small {
        top: 10px;
        right: 10px;
        width: 40px;
        height: 40px;
        padding: 3px;
        opacity: .3;
        transition: opacity .2s ease;

        &:hover {
            opacity: .7;
        }

        svg path {
            fill: $gray;
        }
    }

    &-title {
        font-family: Literata;
        font-weight: 500;
        font-size: 30px;
        line-height: 40px;
        color: $dark;
        margin-bottom: 30px;
    }

    p {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 30px;
    }
}


.auth-form__type {
    margin-bottom: 30px;

    .modal-title {
        display: inline;
        cursor: pointer;
        transition: opacity .2s ease;
        opacity: 0.2;

        &:not(:last-child) {
            margin-right: 32px;
        }

        &.active {
            opacity: 1;
        }
    }
}


.search-city {
    width: 800px;

    .modal-title {
        margin-bottom: 40px;
    }

    &__list {
        margin-top: 40px;
        column-count: 3;
        column-gap: 30px;
        margin-bottom: 60px;
    }

    &__item {
        color: $gray;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 1em;

        &.capital {
            font-weight: 700;
        }

        a:hover {
            color: $blue;
        }
    }
}

.m-check-stock {
    width: 870px;
    padding: 50px;

    .hidden {
        display: none;
    }

    &__back {
        margin-bottom: 16px;
    }

    .back__arrow {
        color: #4E5B67;
        cursor: pointer;
        transition: color .16s ease;
        &:hover {
            color: $blue;

            svg {
                fill: $blue
            }
        }

        svg {
            margin-top: -2px;
            margin-right: 15px;
        }
    }

    &__search {
        display: flex;
        align-items: flex-start;
    }

    &__product-info {
        flex: 0 0 272px;
        width: 272px;
        margin-right: 50px;
    }

    &__search-right .button {
        width: auto;
    }

    &__select {
        &-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 10px;
        }
    }

    &__shops {
        position: relative;

        &::after, &::before {
            content: '';
            display: block;
            height: 20px;
            position: absolute;
            left: 0;
            right: 12px;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
            z-index: 1;
        }

        &::after {
            top: 0;
            transform: rotate(180deg);
        }
        &::before {
            bottom: 0;
        }

        &-content {
            height: 440px;
            padding-right: 12px;
            overflow: auto;
        }

        .item {
            padding: 20px 0;
            border-bottom: 1px solid rgba(78, 91, 103, 0.15);

            &__title {
                display: block;
                line-height: 22px;
            }

            .choise-size {
                margin-top: 10px;

                &__top {
                    font-size: 12px;
                    line-height: 16px;
                    color: rgba(78, 91, 103, 0.6);
                    margin-bottom: 10px;
                }

                &__item label {
                    width: 28px;
                    height: 28px;
                    font-size: 14px;
                    line-height: 26px;
                    border-style: solid;
                    border-color: rgba(103, 173, 215, 0.3);
                }
            }
        }
    }
}