.order-info {
    position: sticky;
    top: 100px;
    padding: 40px;
    margin-left: 20px;
    background: #E8F0F6;
    border-radius: 25px 0px;

    &__title {
        margin-bottom: 15px;
    }

    &__list {
        margin-bottom: 10px;

        .item {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            font-size: 16px;
            line-height: 20px;
            color: #4E5B67;
            padding: 15px 0;
            &:not(:last-child) {
                border-bottom: 1px solid rgba(78, 91, 103, 0.15);
            }

            &__title {
                max-width: 60%;
            }

            &__value {
                color: #132434;
            }

            &_total {
                font-weight: 600;
                font-size: 18px;
                line-height: 20px;
                color: #132434;
                padding-bottom: 0;
            }
        }

        .price span {
            display: block;
        }
    }

    &__button {
        width: 100%;
    }


    &__bottom-text {
        text-align: center;
        font-size: 15px;
        margin-top: 25px;
    }

    @include desktop {
        position: static;
        margin-left: 0;
    }

    @include tablet {
        padding: 35px 30px;

        &__title {
            margin-bottom: 5px;
        }
    }
}