.promocode {
    padding: 21px 27px;
    border: 4px solid #E8F0F6;
    margin-bottom: 20px;

    &__link {
        font-size: 16px;
        line-height: 20px;
    }

    &__row {
        display: flex;
        align-items: center;

        p {
            margin: 20px 0 0;
        }
    }

    &__form {
        display: flex;
        margin-top: 20px;
        margin-right: 30px;

        .input {
            width: 170px;
            flex: 0 0 170px;
            margin-right: 10px;
        }

        .button {
            border-radius: 3px;
        }
    }

    @include tablet {
        &__row {
            display: block;
        }

        &__form {
            margin-right: 0;

            .input {
                flex: auto;
                width: 100%;
            }

            .button {
                position: relative;
                font-size: 0;
                padding: 0;
                flex-shrink: 0;
                width: 54px;

                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: -4px;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    width: 17px;
                    height: 8px;
                    border-width: 0 0 2px 2px;
                    border-color: #fff;
                    border-style: solid;
                    transform: rotate(-45deg);
                }
               
            }
        }
    }
}