.product-slider-wrapper {
    position: relative;
    overflow: hidden;

    &.filled-bottom::after {
        content: '';
        display: block;
        position: absolute;
        top: 40%;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $light;
        z-index: -1;
    }
}

.product-slider-title {
    margin-top: 0;
    margin-bottom: 40px;

    @include laptop {
        margin-bottom: 30px;
    }
}

.product-slider {
    opacity: 0;
    transition: opacity .2s ease;

    @include desktop {
        .flickity-viewport {
            overflow: visible;
        }
    }

    &.flickity-enabled {
        opacity: 1;
    }
    
    &__navs {
        position: relative;
        z-index: 10;

        .arrow {
            position: absolute;
            top: 175px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 55px;
            height: 55px;
            border-radius: 50%;
            background: #fff;
            box-shadow: 0px 5px 30px rgba(19, 36, 52, 0.1);
            cursor: pointer;
            transition: all .16s ease;

            &:hover {
                background: $blue;
                > svg {
                    fill: #fff;
                }
            }

            &:active {
                background: #428CC3;
            }

            &-prev {
                left: -26px;
            }

            &-next {
                right: -26px;
            }

            &.disabled {
                transform: scale(0);
            }

            > svg {
                fill: $blue;
                transition: all .16s ease;
            }
        }

        @include desktop {
            display: none;
        }
    }


    .product-card {
        width: 272px;
        margin-right: 20px;

        @include laptop {
            width: 190px;

            &__thumb {
                height: 284px;
            }
        }
    }
}