.product-card {

    &__thumb {
        position: relative;
        display: block;
        width: 100%;
        height: 403px;
        background-color: #F8F8FA;
        margin-bottom: 10px;

        img {
            max-width: 100%;
            max-height: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            object-fit: contain;
            object-position: center;
        }
    }

    &__buttons {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 55px;
        background: rgba(255, 255, 255, 0.9);
        border: 1px solid #F8F8FA;
        z-index: 10;
        opacity: 0;
        transition: opacity .2s;
        
        &.show {
            opacity: 1;

            .add-to-cart {
                opacity: 1;
            }
        }

        &.show_sizes {
            .add-to-cart {
                opacity: 0;
            }

            .select-size {
                opacity: 1;
            }
        }
        
    }

    .add-to-cart {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 15px;
        line-height: 55px;
        color: $gray;
        text-transform: uppercase;
        cursor: pointer;
        opacity: 0;
        transition: opacity .2s;

        &::after {
            position: relative;
            margin-top: -4px;
            margin-left: 10px;
        }
    }

    .select-size {
        position: absolute;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity .2s;

        &__item {
            flex: 0 0 28px;
            width: 28px;
            height: 28px;
            border-radius: 50%;
            font-weight: 500;
            font-size: 14px;
            line-height: 28px;
            text-align: center;
            color: $gray;
            background-color: transparent;
            transition: background-color .16s, color .1s;

            &:hover {
                color: #fff;
                background-color: $blue;
            }
        }
    }

    &__bottom {
        position: relative;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        padding-right: 24px;
    }

    &__sku {
        font-size: 12px;
        line-height: 24px;
    }

    &__name {
        display: block;
        color: $gray;
        margin-bottom: 10px;
    }

    &__price {
        color: $dark;

        .old {
            margin-left: 10px;
            text-decoration-line: line-through;
            color: $blue;
        }
    }

    &__follow {
        position: absolute;
        top: 5px;
        right: 4px;
        display: block;
    }
}