.product-card {

    &__thumb {
        position: relative;
        display: block;
        width: 100%;
        height: 403px;
        background-color: #F8F8FA;
        margin-bottom: 10px;

        img {
            max-width: 100%;
            max-height: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            object-fit: contain;
            object-position: center;
        }
    }

    &__buttons {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 55px;
        background: rgba(255, 255, 255, 0.9);
        border: 1px solid #F8F8FA;
        z-index: 10;
        opacity: 0;
        transition: opacity .2s;
        
        &.show {
            opacity: 1;

            .add-to-cart {
                opacity: 1;
            }
        }

        &.show_sizes {
            .add-to-cart {
                opacity: 0;
            }

            .select-size {
                opacity: 1;
            }
        }
        
    }

    .add-to-cart {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 15px;
        line-height: 55px;
        color: $gray;
        text-transform: uppercase;
        cursor: pointer;
        opacity: 0;
        transition: opacity .2s;

        &::after {
            content: '';
            position: relative;
            display: block;
            width: 15px;
            height: 19px;
            background: url("data:image/svg+xml,%3Csvg width='15' height='19' viewBox='0 0 15 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.54349 5.92441C1.58346 5.26462 2.1302 4.75 2.7912 4.75H12.2083C12.8693 4.75 13.416 5.26462 13.456 5.92441L14.1224 16.9239C14.1659 17.6426 13.5947 18.2495 12.8746 18.2495H2.12483C1.40475 18.2495 0.833574 17.6426 0.877118 16.9239L1.54349 5.92441Z' stroke='%234E5B67' stroke-width='1.5'/%3E%3Cpath d='M10.4998 8.38132V3.99989C10.4998 2.3431 9.15669 1 7.49989 1V1C5.8431 1 4.5 2.3431 4.5 3.9999V8.38132' stroke='%234E5B67' stroke-width='1.5'/%3E%3C/svg%3E%0A") center/contain no-repeat;
            margin-top: -4px;
            margin-left: 10px;
        }
    }

    .select-size {
        position: absolute;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity .2s;

        &__item {
            flex: 0 0 28px;
            width: 28px;
            height: 28px;
            border-radius: 50%;
            font-weight: 500;
            font-size: 14px;
            line-height: 28px;
            text-align: center;
            color: $gray;
            background-color: transparent;
            transition: background-color .16s, color .1s;

            &:hover {
                color: #fff;
                background-color: $blue;
            }
        }
    }

    &__bottom {
        position: relative;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        padding-right: 24px;
    }

    &__sku {
        font-size: 12px;
        line-height: 24px;
    }

    &__name {
        display: block;
        color: $gray;
        margin-bottom: 10px;
    }

    &__price {
        color: $dark;

        .old {
            margin-left: 10px;
            text-decoration-line: line-through;
            color: $blue;
        }
    }

    &__follow {
        position: absolute;
        top: 5px;
        right: 4px;
        display: block;
        width: 16px;
        height: 14px;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='14' viewBox='0 0 16 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath opacity='0.6' d='M7.38234 2.37224C7.5223 2.57544 7.75325 2.6968 7.99999 2.6968C8.24673 2.69681 8.47768 2.57545 8.61765 2.37226C9.31149 1.36499 10.3753 0.75 11.5401 0.75C13.5148 0.75 15.25 2.56058 15.25 4.96891C15.25 5.69343 14.8976 6.5793 14.2446 7.55595C13.6021 8.51689 12.7234 9.48467 11.8004 10.3544C10.8797 11.2221 9.93427 11.974 9.17446 12.5051C8.79365 12.7713 8.46921 12.9751 8.22476 13.1088C8.1325 13.1593 8.05812 13.1962 8.00106 13.2218C7.94413 13.196 7.86991 13.1588 7.77784 13.108C7.53333 12.9729 7.2088 12.7672 6.82781 12.4988C6.0677 11.9634 5.12186 11.206 4.20065 10.3345C3.27719 9.46086 2.3979 8.49081 1.75494 7.53164C1.10071 6.55566 0.75 5.67759 0.75 4.96892C0.75 2.56057 2.48516 0.75 4.4599 0.75C5.62474 0.75 6.68856 1.365 7.38234 2.37224ZM7.90198 13.2606C7.90202 13.2605 7.90355 13.2601 7.90646 13.2594C7.9034 13.2603 7.90194 13.2607 7.90198 13.2606ZM8.09538 13.2597C8.09846 13.2605 8.10008 13.261 8.10013 13.261C8.10017 13.2611 8.09862 13.2607 8.09538 13.2597Z' stroke='%234E5B67' stroke-width='1.5' stroke-linejoin='round'/%3e%3c/svg%3e");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        transition: background-image .16s ease;

        &:hover {
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='14' viewBox='0 0 16 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath opacity='0.6' d='M7.38234 2.37224C7.5223 2.57544 7.75325 2.6968 7.99999 2.6968C8.24673 2.69681 8.47768 2.57545 8.61765 2.37226C9.31149 1.36499 10.3753 0.75 11.5401 0.75C13.5148 0.75 15.25 2.56058 15.25 4.96891C15.25 5.69343 14.8976 6.5793 14.2446 7.55595C13.6021 8.51689 12.7234 9.48467 11.8004 10.3544C10.8797 11.2221 9.93427 11.974 9.17446 12.5051C8.79365 12.7713 8.46921 12.9751 8.22476 13.1088C8.1325 13.1593 8.05812 13.1962 8.00106 13.2218C7.94413 13.196 7.86991 13.1588 7.77784 13.108C7.53333 12.9729 7.2088 12.7672 6.82781 12.4988C6.0677 11.9634 5.12186 11.206 4.20065 10.3345C3.27719 9.46086 2.3979 8.49081 1.75494 7.53164C1.10071 6.55566 0.75 5.67759 0.75 4.96892C0.75 2.56057 2.48516 0.75 4.4599 0.75C5.62474 0.75 6.68856 1.365 7.38234 2.37224ZM7.90198 13.2606C7.90202 13.2605 7.90355 13.2601 7.90646 13.2594C7.9034 13.2603 7.90194 13.2607 7.90198 13.2606ZM8.09538 13.2597C8.09846 13.2605 8.10008 13.261 8.10013 13.261C8.10017 13.2611 8.09862 13.2607 8.09538 13.2597Z' fill='%234E5B67' stroke='%234E5B67' stroke-width='1.5' stroke-linejoin='round'/%3e%3c/svg%3e");
        }
    }
}