.slider {

    &-nav {
        display: none;
        position: absolute;
        right: 15px;
        bottom: 0;
        flex-wrap: wrap;
        align-items: center;
        padding: 19px 14px 0 20px;
        border-radius: 25px 0 0 0;
        background: #fff;

        @include tablet {
            position: relative;
            right: auto;
            justify-content: center;
            padding-left: 0;
            padding-right: 0;
        }

        &__arrows {
            display: flex;
            align-items: center;
            margin: 0 18px 19px;

            .counter {
                width: 50px;
                font-size: 16px;
                line-height: 22px;
                margin: 0 15px;
                color: $dark;
                text-align: center;
            }
        }

        .arrow {
            font-size: 0;
            cursor: pointer;
        }

        &__dots {
            display: flex;
            align-items: center;
            margin: 0 18px 19px;
        }

        .dot {
            position: relative;
            width: 13px;
            height: 13px;
            border: 1px solid transparent;
            border-radius: 50%;
            margin-right: 7px;
            cursor: pointer;
            transition: border-color .1s;
            
            &::before {
                content: '';
                display: block;
                width: 3px;
                height: 3px;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                border-radius: 50%;
                background: $dark;
            }

            &:last-child {
                margin-right: 0;
            }

            &.current,
            &:hover {
                border-color: $blue;
            }
        }
    }
}