.socials {
    display: flex;
    flex-wrap: wrap;

    @include tablet {
        justify-content: center;
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
        margin-bottom: 10px;
        &:last-child {
            margin-right: 0;
        }
    }

    &_dark &__link {
        background: $dark;
    }

    &_light &__link {
        background: $blue;
    }
}