.account-wishlist {
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 26px;

        p {
            margin: 0;
        }
    }
}