.checkout {

    .link-underline {
        color: #428CC3;
        border-color: #428CC3;
    }

    .order-info {
        &__list {
            margin-bottom: 0;
        }

        .checkout-button {
            margin-top: 30px;
        }
    }

    &-block {
        margin-top: 30px;
        margin-bottom: 40px;
        padding-bottom: 40px;
        border-bottom: 1px solid rgba(78, 91, 103, 0.15);

        &__title {
            margin-bottom: 5px;

            &-flex {
                display: flex;
                flex-wrap: wrap;
                align-items: center;

                > *:not(:last-child) {
                    margin-right: 30px;
                }
            }
        }

        

        &__radios {
            display: flex;
            flex-wrap: wrap;
            
            .radio-item {
                margin-top: 10px;

                &:not(:last-child) {
                    margin-right: 10px;
                }
            }
        }
    }

    &-payment {
        padding-bottom: 0;
        border-bottom: 0;
    }


    &-button {
        display: flex;
        align-items: center;

        .button {
            flex-shrink: 0;
        }

        span {
            margin-left: 30px;
            font-size: 15px;
            line-height: 20px;
        }
    }

    @include tablet {
        .checkout-button {
            flex-direction: column;
            align-items: flex-start;

            span {
                margin: 25px 0 0;
                font-size: 14px;
            }
        }
    }


    @include phone {
        &-block {
            margin-top: 30px;
            margin-bottom: 30px;
            padding-bottom: 30px;

            &__title {
                margin-bottom: 0;
            }

            .shipping-zones-link {
                margin-top: 15px;
            }

            &__radios {
                margin-top: 10px;
            }

            .radio-item {
                margin: 0;
            }
        }

        .checkout-button .button {
            width: 100%;
            padding-left: 30px;
            padding-right: 30px;
        }
    }
}