.page-cart {
    margin-bottom: 120px;

    .advantages__content {
        line-height: 22px;
        margin-top: 0;
    }

    @include tablet {
        .advantages__content {
            font-size: 16px;
            line-height: 24px;
            padding-right: 30px;
        }
    }
}