footer
    .footer-top
        .container
            .row
                .footer-menu.col-lg-9
                    .row
                        .col-lg-3
                            .footer-menu__title
                                a(href="") О нас
                            .footer-menu__link
                                a(href="") О компании
                            .footer-menu__link
                                a(href="") Александр Богданов
                            .footer-menu__link
                                a(href="") История
                            .footer-menu__link
                                a(href="") Пресса о нас
                            .footer-menu__link
                                a(href="") Новости
                            .footer-menu__link
                                a(href="") Партнерам
                            .footer-menu__link
                                a(href="") Франчайзинг
                            .footer-menu__link
                                a(href="") Зарубежные партнеры
                            .footer-menu__link
                                a(href="") Оптовые партнеры

                        .col-lg-3
                            .footer-menu__title
                                a(href="") Каталог
                            .footer-menu__link
                                a(href="") Купить женскую одежду
                            .footer-menu__link
                                a(href="") Платья
                            .footer-menu__link
                                a(href="") Юбки
                            .footer-menu__link
                                a(href="") Джемперы
                            .footer-menu__link
                                a(href="") Жакеты и бомберы
                            .footer-menu__link
                                a(href="") Блузы
                            .footer-menu__link
                                a(href="") Рубашки
                            .footer-menu__link
                                a(href="") Верхняя одежда
                            .footer-menu__link
                                a(href="") Аксессуары

                        .col-lg-3
                            .footer-menu__title
                                a(href="") Помощь
                            .footer-menu__link
                                a(href="") Как оформить заказ
                            .footer-menu__link
                                a(href="") Как выбрать размер
                            .footer-menu__link
                                a(href="") Оплата
                            .footer-menu__link
                                a(href="") Доставка
                            .footer-menu__link
                                a(href="") Возврат
                            .footer-menu__link
                                a(href="") Конфиденциальность
                            .footer-menu__link
                                a(href="") Мои заказы
                            .footer-menu__link
                                a(href="") Уход за изделиями
                        
                        .col-lg-3
                            .footer-menu__title
                                a(href="") Партнерам
                            .footer-menu__link
                                a(href="") Партнерам
                            .footer-menu__link
                                a(href="") Франчайзинг
                            .footer-menu__link
                                a(href="") Зарубежные партнеры
                            .footer-menu__link
                                a(href="") Оптовые партнеры

                .footer__right.col-lg-3
                    .subscribe
                        .subscribe__title Подпишитесь 
                            br
                            | на нашу рассылку
                        .subscribe__subtitle
                            | Обещаем отправлять только важное и интересное
                        form(action="").subscribe-form
                            input(type="email", placeholder="Email").subscribe-form__input
                            button.subscribe-form__button
                                include ../svg/subscribe-email.svg
                        .subscribe__privacy
                            | Отправляя данные формы, вы соглашаетесь с условиями политикой конфиденциальности
                            

                    .socials.socials_dark
                        a(href="").socials__link.ab-i-yt
                        a(href="").socials__link.ab-i-fb
                        a(href="").socials__link.ab-i-inst
                        a(href="").socials__link.ab-i-vk

    .footer-bottom
        .footer-bottom-grid.container
            a.footer__logo(href="")
                img(src="images/logo_white.svg", alt="Alexander Bogdanov")
            .footer__copyright
                | ©  2020, Alexander Bogdanov. Все права защищены
            .footer-bottom__links
                a(href="") Политика конфиденциальности
                span.determiner |
                a(href="") Условия продажи
