#search-city.search-city.modal
    .modal-title Выберите ваш город:

    autocomplete(:search="searchCity", :get-result-value="getCity", :debounce-time="100", placeholder="Введите город", aria-label="Введите город", base-class="search-autocomplete", @submit="submitCity").search-city__autocomplete

    .search-city__list
        .search-city__item.capital
            a(href="") Москва
        .search-city__item.capital
            a(href="") Санкт-Петербург
        .search-city__item
            a(href="") Архангельск
        .search-city__item
            a(href="") Балаково
        .search-city__item
            a(href="") Барнаул
        .search-city__item
            a(href="") Благовещенск
        .search-city__item
            a(href="") Владивосток
        .search-city__item
            a(href="") Волгоград
        .search-city__item
            a(href="") Воронеж
        .search-city__item
            a(href="") Екатеринбург
        .search-city__item
            a(href="") Иркутск
        .search-city__item
            a(href="") Казань
        .search-city__item
            a(href="") Калининград
        .search-city__item
            a(href="") Кемерово
        .search-city__item
            a(href="") Краснодар
        .search-city__item
            a(href="") Красноярск
        .search-city__item
            a(href="") Липецк
        .search-city__item
            a(href="") Мурманск
        .search-city__item
            a(href="") Нижний Новгород
        .search-city__item
            a(href="") Новосибирск
        .search-city__item
            a(href="") Омск
        .search-city__item
            a(href="") Оренбург
        .search-city__item
            a(href="") Ростов-на-Дону
        .search-city__item
            a(href="") Рязань
        .search-city__item
            a(href="") Самара
        .search-city__item
            a(href="") Саратов
        .search-city__item
            a(href="") Сочи
        .search-city__item
            a(href="") Тюмень
        .search-city__item
            a(href="") Уфа
        .search-city__item
            a(href="") Хабаровск
        .search-city__item
            a(href="") Челябинск
        .search-city__item
            a(href="") Южно-Сахалинск
        .search-city__item
            a(href="") Ярославль

#callback.modal
    .modal-title Обратный звонок
    p Оставьте Ваши контактные данные и мы Вам перезвоним

    form#callback-form.form(@submit.prevent="submit", novalidate)
        .input-item
            input(type="text", v-model.trim="$v.name.$model", :class="[{invalid : $v.name.$error}, {valid : !this.$v.name.$invalid}]").input
            label Имя
        .input-item
            input(type="tel", v-mask="'+7 ### ###-##-##'", v-model.trim="$v.phone.$model", :class="[{invalid : $v.phone.$error}, {valid : !this.$v.phone.$invalid}]" @focus="phoneFocus").input
            label Телефон

        button.form__button.button.button_blue-filled Отправить

    .form__privacy Отправляя форму, вы принимаете 
            a(href="").link Условия пользовательского соглашения 
            | «Alexander Bogdanov».



#auth-form.auth-form.modal
    .auth-form__type
        .modal-title.active(data-form="login") Вход
        .modal-title(data-form="signup") Регистрация

    .form.form_login.active
        p Авторизуйтесь, если вы уже зарегистрированы на нашем сайте
        form#login-form(@submit.prevent="submit", novalidate)
            .input-item
                input(type="email", v-model.trim="$v.email.$model", :class="[{invalid : $v.email.$error}, {valid : !this.$v.email.$invalid}]").input
                label Email
            .input-item
                .show-password.ab-i-password
                input(type="password", v-model.trim="$v.password.$model", :class="[{invalid : $v.password.$error}]").input.input_password
                label Пароль
            .form__helpers.input-item
                input#remember-passwowrd(type="checkbox").checkbox
                label(for="remember-passwowrd") Запомнить меня
                a(href="javascript:;", data-fancybox, data-src="#password-recovery").link Забыли пароль?
            button.form__button.button.button_blue-filled Войти в личный кабинет
        
        .form-services
            .form-services__title Или войдите 
                br
                | через сервисы
            .socials.socials_light
                a(href="").socials__link.ab-i-ggl
                a(href="").socials__link.ab-i-fb
                a(href="").socials__link.ab-i-inst
                a(href="").socials__link.ab-i-vk

    .form.form_signup
        .form-services
            .form-services__title Регистрация 
                br
                | через сервисы
            .socials.socials_light
                a(href="").socials__link.ab-i-ggl
                a(href="").socials__link.ab-i-fb
                a(href="").socials__link.ab-i-inst
                a(href="").socials__link.ab-i-vk

        p Или заполните поля ниже
        form#signup-form(@submit.prevent="submit", novalidate)
            .input-item
                input(type="email", v-model.trim="$v.email.$model", :class="[{invalid : $v.email.$error}, {valid : !this.$v.email.$invalid}]").input
                label Email
            .input-item
                .show-password.ab-i-password
                input(type="password", v-model.trim="$v.password.$model", :class="[{invalid : $v.password.$error}]").input.input_password
                label Пароль
            .input-item
                .show-password.ab-i-password
                input(type="password", v-model.trim="$v.repeatPassword.$model", :class="[{invalid : $v.repeatPassword.$error}]").input.input_password
                label Повторите пароль
            .input-item
                input#iwholesale(type="checkbox").checkbox
                label(for="iwholesale") Я оптовый покупатель
            button.form__button.button.button_blue-filled Зарегистрироваться

        .form__privacy Регистрируя аккаунт, вы принимаете 
            a(href="").link Условия пользовательского соглашения 
            | «Alexander Bogdanov».

#password-recovery.password-recovery.modal
    .modal-title Восстановление пароля
    
    p Введите логин или e-mail, который вы указали при регистрации, и мы отправим вам ссылку для смены пароля.

    form#recovery-form(@submit.prevent="submit", novalidate).form
        .input-item
            input(type="text", v-model.trim="$v.login.$model", :class="[{invalid : $v.login.$error}, {valid : !this.$v.login.$invalid}]").input
            label Логин

        .input-or-det 
            span или
        
        .input-item
            input(type="email", v-model.trim="$v.email.$model", :class="[{invalid : $v.email.$error}, {valid : !this.$v.email.$invalid}]").input
            label Email
        
        
        button.form__button.button.button_blue-filled Отправить

        .form__back
            a(href="javascript:;", data-fancybox, data-src="#auth-form").link Я вспомнил пароль


#callback-success.modal-success.modal
    .modal-thumb 
        picture
            source(srcset="images/form-success.webp", type="image/webp")
            img(src="images/form-success.png", alt="")

    .modal-title Заявка отправлена
    
    p Наши менеджеры скоро Вам перезвонят

    .modal-close.button.button_blue-filled Хорошо

#subscribe-success.modal-success.modal
    .modal-thumb 
        picture
            source(srcset="images/form-success.webp", type="image/webp")
            img(src="images/form-success.png", alt="")

    .modal-title Вы подписались
        br
        | на нашу рассылку
    
    p Благодарим за внимание к нашей компании, обещаем отправлять только важный и интересный контент.

    .modal-close.button.button_blue-filled Хорошо