.modals-hidden

    #search-city.search-city.modal
        .modal-title Выберите ваш город:

        .input-item
            input(type="text", placeholder="Введите город").search-city__input.input.input_search

        .search-city__list
            .search-city__item.capital
                a(href="") Москва
            .search-city__item.capital
                a(href="") Санкт-Петербург
            .search-city__item
                a(href="") Архангельск
            .search-city__item
                a(href="") Балаково
            .search-city__item
                a(href="") Барнаул
            .search-city__item
                a(href="") Благовещенск
            .search-city__item
                a(href="") Владивосток
            .search-city__item
                a(href="") Волгоград
            .search-city__item
                a(href="") Воронеж
            .search-city__item
                a(href="") Екатеринбург
            .search-city__item
                a(href="") Иркутск
            .search-city__item
                a(href="") Казань
            .search-city__item
                a(href="") Калининград
            .search-city__item
                a(href="") Кемерово
            .search-city__item
                a(href="") Краснодар
            .search-city__item
                a(href="") Красноярск
            .search-city__item
                a(href="") Липецк
            .search-city__item
                a(href="") Мурманск
            .search-city__item
                a(href="") Нижний Новгород
            .search-city__item
                a(href="") Новосибирск
            .search-city__item
                a(href="") Омск
            .search-city__item
                a(href="") Оренбург
            .search-city__item
                a(href="") Ростов-на-Дону
            .search-city__item
                a(href="") Рязань
            .search-city__item
                a(href="") Самара
            .search-city__item
                a(href="") Саратов
            .search-city__item
                a(href="") Сочи
            .search-city__item
                a(href="") Тюмень
            .search-city__item
                a(href="") Уфа
            .search-city__item
                a(href="") Хабаровск
            .search-city__item
                a(href="") Челябинск
            .search-city__item
                a(href="") Южно-Сахалинск
            .search-city__item
                a(href="") Ярославль


    //- .input-item
    //-     input(type="text").input.input.invalid
    //-     label Ваше имя 
    //- .input-item
    //-     input(type="text").input.input.ok
    //-     label Ваше имя 
    //- .input-item
    //-     input(type="text").input.input.disabled
    //-     label Ваше имя 