block variables

doctype html
html(lang="ru")
    head
        title #{title}
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href='https://fonts.googleapis.com/css2?family=Literata:wght@600&display=swap')
        link(rel="stylesheet" href='css/bootstrap-grid.min.css')
        link(rel="stylesheet" href='css/normalize.min.css')
        link(rel="stylesheet" href='css/stylesheet.css')
        block styles
    body
        header
            .header__top
                .container
                    .row
                        .top-left.col-lg-4
                            .language
                                .language-select.dropdown-toggle(data-toggle="dropdown")
                                    .language__icon.language__icon_rus
                                    .language__arrow
                                .language-dropdown.dropdown-menu
                                    a(href="").language__item
                                        .language__icon.language__icon_rus
                                        span Русский
                                    a(href="").language__item
                                        .language__icon.language__icon_eng
                                        span English
                                    a(href="").language__item
                                        .language__icon.language__icon_esp
                                        span Espanol
                                    a(href="").language__item
                                        .language__icon.language__icon_de
                                        span German

                            .city-select Ваш город:
                                a.city-select__link(href="") Александровск-Сахалинский

                        .top-menu.col-lg-8
                            a.top-menu__link(href="#")
                                .icon
                                span Бесплатная доставка
                            a.top-menu__link(href="#")
                                .icon
                                span Примерка перед покупкой
                            a.top-menu__link(href="#")
                                .icon
                                span Связаться с нами

            .header__main.container
                .header__main-row.row
                    .hamburger.col-1.d-xl-none
                        .hamburger-switcher
                            .hamburger__icon
                                span
                                span
                                span

                    .header__logo.col-3.mr-auto
                        a(href="/")
                            img(src="images/logo.svg", alt="Alexander Bogdanov")

                    .header__menu.d-none.d-xl-block
                        .main-menu
                            .main-menu__item.main-menu__item_parent
                                a.dropdown-toggle(href="", data-toggle="dropdown") Каталог
                                .main-menu__dropdown.dropdown-menu
                                    .container
                                        .row
                                            .col-lg-2
                                                .main-menu__sub-item
                                                    a.head(href="") Новое
                                                .main-menu__sub-item
                                                    a.head(href="") Бестселлеры
                                                .main-menu__sub-item
                                                    a(href="") Специальные предложения
                                            .col-lg-2
                                                .main-menu__sub-item
                                                    a.head(href="") Одежда
                                                .main-menu__sub-item
                                                    a(href="") Блузы и рубашки
                                                .main-menu__sub-item
                                                    a(href="") Брюки и шорты
                                                .main-menu__sub-item
                                                    a(href="") Верхняя одежда
                                                .main-menu__sub-item
                                                    a(href="") Джемперы
                                                .main-menu__sub-item
                                                    a(href="") Жакеты и бомберы
                                                .main-menu__sub-item
                                                    a(href="") Платья
                                                .main-menu__sub-item
                                                    a(href="") Юбки
                                            .col-lg-2
                                                .main-menu__sub-item
                                                    a.head(href="") Аксессуары
                                                .main-menu__sub-item
                                                    a(href="") Шапки
                                                .main-menu__sub-item
                                                    a(href="") Палантины
                                            .col-lg-6
                                                .main-menu__sub-item
                                                    a.head(href="") Коллекции
                                                .row
                                                    .col-6
                                                        a.collection-link(href="")
                                                            img(src="", alt="")
                                                            .collection-link__info
                                                                .collection-link__title Прованс
                                                                .collection-link__short Весна/Лето 2020
                                                        a.collection-link(href="")
                                                            img(src="", alt="")
                                                            .collection-link__info
                                                                .collection-link__title Настроение города
                                                                .collection-link__short Осень 2019/Зима 2020
                                                    .col-6
                                                        a.collection-link(href="")
                                                            img(src="", alt="")
                                                            .collection-link__info
                                                                .collection-link__title Лигурия
                                                                .collection-link__short Весна/Лето 2019
                                                        a.collection-link(href="")
                                                            img(src="", alt="")
                                                            .collection-link__info
                                                                .collection-link__title Ломбардия
                                                                .collection-link__short Осень 2018/Зима 2019
                            .main-menu__item
                                a(href="") О нас
                            .main-menu__item
                                a(href="") Lookbook
                            .main-menu__item
                                a(href="") Адреса магазинов

                    .header__right.col-3.ml-auto




        block content

        footer

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js", defer)
        script(src="js/bootstrap.bundle.min.js", defer)
        script(src="js/scripts.js", defer)
        block scripts