block variables
- var home_link = 'homepage.html'
- var catalog_link = 'catalog.html'
- var category_link = 'category.html'
- var product_link = 'product.html'
- var cart_link = 'cart.html'
- var order_link = 'checkout.html'
- var lk_link = 'lk.html'
- var lk_info = 'lk-info.html'
- var lk_orders = 'lk-orders.html'
- var lk_wishlist = 'lk-wishlist.html'
- var lk_addresses = 'lk-addresses.html'
- var lk_subscribes = 'lk-subscribes.html'
- var version = 'v0.5.1'

doctype html
html(lang="ru")
    head
        title #{title}
        meta(charset="UTF-8")
        meta#mvp(name="viewport", content="width=device-width,initial-scale=1,maximum-scale=1")
        script
            | function svp(){let e=screen.width<=360?"width=360,user-scalable=no":"width=device-width,initial-scale=1,maximum-scale=1";document.getElementById("mvp").setAttribute("content",e)}svp();window.onresize=function(n){svp()}
        link(rel="stylesheet" href='https://fonts.googleapis.com/css2?family=Literata:wght@400;600;700&display=swap')
        link(rel="stylesheet" href='css/normalize.min.css')
        link(rel="stylesheet" href='css/bootstrap-grid-custom.min.css')
        link(rel="stylesheet" href='css/flickity.min.css')
        link(rel="stylesheet" href='css/jquery.fancybox.min.css')
        link(rel="stylesheet" href='css/stylesheet.css?' + version)
        block styles
    body
        include _header.pug

        .page-wrapper(class="" + mainCls)
            block content

        include _footer.pug

        include _forms.pug

        script(src="js/jquery.min.js", defer)
        script(src="js/jquery.bootstrap.custom.min.js", defer)
        script(src="js/jquery.flickity.pkgd.min.js", defer)
        script(src="js/jquery.flickity-fade.min.js", defer)
        script(src="js/jquery.fancybox.min.js", defer)
        script(src="js/select2.min.js", defer)        
        script(src="js/vue.min.js", defer)
        script(src="js/vue.autocomplete.min.js", defer)
        script(src="js/vue.validators.min.js", defer)
        script(src="js/vue.vuelidate.min.js", defer)
        script(src="js/vue.v-mask.min.js", defer)
        script(src="js/scripts.js?" + version, defer)
        block scripts