block variables
- var home_link = 'homepage.html'
- var catalog_link = 'catalog.html'
- var category_link = 'category.html'

doctype html
html(lang="ru")
    head
        title #{title}
        meta(charset="UTF-8")
        meta#mvp(name="viewport", content="width=device-width,initial-scale=1,maximum-scale=1")
        script
            | function setViewport(){let e=screen.width<=360?"width=360,user-scalable=no":"width=device-width,initial-scale=1,maximum-scale=1";document.getElementById("mvp").setAttribute("content",e)}setViewport();
        link(rel="stylesheet" href='https://fonts.googleapis.com/css2?family=Literata:wght@400;600;700&display=swap')
        link(rel="stylesheet" href='css/normalize.min.css')
        link(rel="stylesheet" href='css/bootstrap-grid-custom.min.css')
        link(rel="stylesheet" href='css/flickity.min.css')
        link(rel="stylesheet" href='css/jquery.fancybox.min.css')
        link(rel="stylesheet" href='css/stylesheet.css')
        block styles
    body
        include _header.pug

        .page-wrapper(class="" + mainCls)
            block content

        include _footer.pug

        include _forms.pug

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js", defer)
        script(src="js/bootstrap.bundle.min.js", defer)
        script(src="js/flickity.pkgd.min.js", defer)
        script(src="js/flickity-fade.min.js", defer)
        script(src="js/jquery.fancybox.min.js", defer)
        script(src="js/scripts.js", defer)
        block scripts