.main-menu
    .main-menu__link.catalog-menu
        a(href="", data-toggle="dropdown") Каталог
        .catalog-menu__dropdown.dropdown-menu
            .container
                .row
                    .col-lg-2
                        .catalog-menu__link
                            a.head(href="") Новое
                        .catalog-menu__link
                            a.head(href="") Бестселлеры
                        .catalog-menu__link
                            a(href="") Специальные предложения
                    .col-lg-2
                        .catalog-menu__link
                            a.head(href="") Одежда
                        .catalog-menu__link
                            a(href="") Блузы и рубашки
                        .catalog-menu__link
                            a(href="") Брюки и шорты
                        .catalog-menu__link
                            a(href="") Верхняя одежда
                        .catalog-menu__link
                            a(href="") Джемперы
                        .catalog-menu__link
                            a(href="") Жакеты и бомберы
                        .catalog-menu__link
                            a(href="") Платья
                        .catalog-menu__link
                            a(href="") Юбки
                    .col-lg-2
                        .catalog-menu__link
                            a.head(href="") Аксессуары
                        .catalog-menu__link
                            a(href="") Шапки
                        .catalog-menu__link
                            a(href="") Палантины
                    .col-lg-6
                        .catalog-menu__link
                            a.head(href="") Коллекции
                        .row
                            .col-6
                                a.collection-link(href="")
                                    img(src="", alt="")
                                    .collection-link__info
                                        .collection-link__title Прованс
                                        .collection-link__short Весна/Лето 2020
                                a.collection-link(href="")
                                    img(src="", alt="")
                                    .collection-link__info
                                        .collection-link__title Настроение города
                                        .collection-link__short Осень 2019/Зима 2020
                            .col-6
                                a.collection-link(href="")
                                    img(src="", alt="")
                                    .collection-link__info
                                        .collection-link__title Лигурия
                                        .collection-link__short Весна/Лето 2019
                                a.collection-link(href="")
                                    img(src="", alt="")
                                    .collection-link__info
                                        .collection-link__title Ломбардия
                                        .collection-link__short Осень 2018/Зима 2019
    .main-menu__link
        a(href="") О нас
    .main-menu__link
        a(href="") Lookbook
    .main-menu__link
        a(href="") Адреса магазинов