.product-card
    .product-card__thumb
        a(href="")
            img(src="images/dev/prod-thumb.png", alt="")
        .product-card__buttons
            .add-to-cart.ab-i-add2cart Добавить
            .select-size
                a(href="").select-size__item 40
                a(href="").select-size__item 42
                a(href="").select-size__item 44
                a(href="").select-size__item 46
                a(href="").select-size__item 48
                a(href="").select-size__item 50
                a(href="").select-size__item 52



    .product-card__bottom
        a(href="").product-card__name Пальто «Нежные струны»
        .product-card__price
            span 27 000 ₽
            span.old 30 000 ₽
        a(href="").product-card__follow.ab-i-follow