.product-card
    .product-card__thumb
        a(href="")
            picture
                source(srcset="images/dev/prod-thumb2.webp", type="image/webp")
                img(src="images/dev/prod-thumb2.png", alt="")
            .label.label_best Бестселлер
        .product-card__buttons
            .add-to-cart.ab-i-add2cart Добавить
            .select-size
                a(href="").select-size__item 40
                a(href="").select-size__item 42
                a(href="").select-size__item 44
                a(href="").select-size__item 46

    .product-card__bottom
        .product-card__sku Арт. 1234567
        a(href="").product-card__name Блузон «Овация»
        .product-card__price
            span 35 990 ₽
        a(href="").product-card__follow.ab-i-follow