.product-card.product-card_small
    .product-card__thumb
        a(href=product_link)
            picture
                source(srcset="images/dev/prod-thumb.webp", type="image/webp")
                img(src="images/dev/prod-thumb.png", alt="")

    .product-card__bottom
        .product-card__sku Арт. 1234567
        a(href=product_link).product-card__name Пальто «Нежные струны»
        .product-card__price.price
            span 27 000 ₽
            span.old 30 000 ₽
        a(href="").product-card__wishlist.ab-i-wishlist