extends ./components/_layout.pug
block variables
    - var title = 'Корзина'
    - var mainCls = 'page-cart'

block content

    .page-top.container
        .breadcrumbs
            .breadcrumbs__item
                a(href=home_link) Главная
            .breadcrumbs__item
                span Корзина
        h1.page-top__title.like-h1 Корзина

    .cart.container
        .row
            .cart__main.col-xl-8
                .cart-table
                    .cart-table__header
                        .col-image Товар
                        .col-name Описание
                        .col-size Размер
                        .col-quant Количество
                        .col-price Цена
                        .col-remove

                    .cart-table__item
                        .col-image 
                            img(src="", alt="").thumbnail
                        .col-name 
                            span Блузон «Овация» в две строки
                            .sku Арт. 1234567
                            a(href="").add-to-wishlist.ab-i-wishlist
                        .col-size 46
                        .col-quantity
                            .quantity.quantity-js
                                .quantity__btn.decrease
                                input(type="number", value="1").quantity__input
                                .quantity__btn.increase
                        .col-price.price
                            span 14 000 ₽
                            span.old 17 600 ₽
                        .col-remove 
                            a(href="").remove-btn.ab-i-cart-remove


                .add-as-gift
                    .add-as-gift__title Вы хотите приобрести этот товар в качестве подарка?
                    p Мы можем добавить подарочкую коробку за 300 ₽ и чек без указания цены к вашему заказу

                    a(href="").link-add Добавить подарочную коробку



            .right-sidebar.col-xl-4
                .order-info
                    .order-info__title.like-h3 Детали заказа

                    .order-info__list
                        .item
                            .item__title Товаров
                            .item__value 2
                        .item
                            .item__title Всего товаров на сумму
                            .item__value.price
                                span 14 000 ₽
                                span.old 17 600 ₽

                    a(href=order_link).order-info__button.button.button_blue-filled Оформить заказ

                    .order-info__bottom-text Есть промокод? Введите его на следующем этапе.



    
    .advantages.container
        .row
            .advantages__item.col-lg-3.col-md-6
                .advantages__img
                    include ../svg-min/cart-adv-1.svg
                .advantages__content Вам нужна помощь?
                    br
                    a(href="") 8 800 551-90-50
            .advantages__item.col-lg-3.col-md-6
                .advantages__img
                    include ../svg-min/prod-adv-1.svg
                .advantages__content Бесплатная доставка для заказов от 20 000 ₽
            .advantages__item.col-lg-3.col-md-6
                .advantages__img
                    include ../svg-min/prod-adv-3.svg
                .advantages__content Безопасный платеж с использованием SSL протокола 
            .advantages__item.col-lg-3.col-md-6
                .advantages__img
                    include ../svg-min/cart-adv-2.svg
                .advantages__content Простой возврат в течение 60 дней
