extends ./components/_layout.pug
block variables
    - var title = 'Категория'
    - var mainCls = 'page-category'

block content

    .page-top.container
        .breadcrumbs
            .breadcrumbs__item
                a(href=home_link) Главная
            .breadcrumbs__item
                a(href=catalog_link) Каталог
            .breadcrumbs__item
                a(href=category_link) Одежда
            .breadcrumbs__item
                span Джемперы и кардиганы
        h1.page-top__title.like-h1 Джемперы и кардиганы
    
    .category-wrapper.container
        .row
            .sidebar.col-lg-3.d-none.d-lg-block
                .categories-list
                    .categories-list__title Одежда
                    .categories-list__item
                        a(href="") Платья
                    .categories-list__item
                        a(href="") Блузы и рубашки
                    .categories-list__item.parent.active
                        a(href="") Джемперы и кардиганы
                        .arrow
                        .categories-list-sub
                            .categories-list-sub__item.current
                                a(href="") Свитеры
                            .categories-list-sub__item
                                a(href="") Кардиганы
                    .categories-list__item
                        a(href="") Юбки

                .categories-list
                    .categories-list__title Аксессуары
                    .categories-list__item
                        a(href="") Палантины
                    .categories-list__item
                        a(href="") Снуды
                    .categories-list__item.parent
                        a(href="") Сумки
                        .arrow
                        .categories-list-sub
                            .categories-list-sub__item
                                a(href="") Сумки
                            .categories-list-sub__item
                                a(href="") Сумки


            .category-right.col-lg-9
                #category-filter.filter
                    .filter__header Отфильтровать и упорядочить
                    .filter__content
                        .filter-collapse
                            .filter-collapse__title(data-toggle="dropdown") Коллекция
                            .filter-collapse__content.dropdown-menu
                                .filter-collapse__collections
                                    .checkbox-block
                                        input#coll-1(type="checkbox").checkbox
                                        label(for="coll-1")
                                            .checkbox__high-label
                                                | Прованс
                                                span Весна/Лето 2020
                                    .checkbox-block
                                        input#coll-2(type="checkbox").checkbox
                                        label(for="coll-2") Лигурия
                                a.button.button_blue-bordered(href="") Сбросить
                        .filter-collapse
                            .filter-collapse__title(data-toggle="dropdown") Стиль
                            .filter-collapse__content.dropdown-menu
                                .checkbox-block
                                    input#style1(type="checkbox").checkbox
                                    label(for="style1") Городской
                                .checkbox-block
                                    input#style2(type="checkbox").checkbox
                                    label(for="style2") Для дачи
                                .checkbox-block
                                    input#style3(type="checkbox").checkbox
                                    label(for="style3") Не жалко запачкать
                                a.button.button_blue-bordered(href="") Сбросить
                        .filter-collapse
                            .filter-collapse__title(data-toggle="dropdown") Тематика
                            .filter-collapse__content.dropdown-menu
                                .checkbox-block
                                    input#theme1(type="checkbox").checkbox
                                    label(for="theme1") Муж выгнал из дома
                                .checkbox-block
                                    input#theme2(type="checkbox").checkbox
                                    label(for="theme2") Корпорат в офисе
                                .checkbox-block
                                    input#theme3(type="checkbox").checkbox
                                    label(for="theme3") Туса с подругами
                                a.button.button_blue-bordered(href="") Сбросить
                        .filter-collapse
                            .filter-collapse__title(data-toggle="dropdown") Размер
                            .filter-collapse__content.dropdown-menu
                                .filter-collapse__checkbox-grid
                                    .checkbox-block
                                        input#inp-1(type="checkbox").checkbox
                                        label(for="inp-1") 40
                                    .checkbox-block
                                        input#inp-2(type="checkbox").checkbox
                                        label(for="inp-2") 40
                                    .checkbox-block
                                        input#inp-4(type="checkbox").checkbox
                                        label(for="inp-4") 40
                                    .checkbox-block
                                        input#inp-6(type="checkbox").checkbox.disabled
                                        label(for="inp-6") 40
                                    .checkbox-block
                                        input#inp-8(type="checkbox").checkbox
                                        label(for="inp-8") Без размера
                                a.button.button_blue-bordered(href="") Сбросить
                        .filter-collapse
                            .filter-collapse__title(data-toggle="dropdown") Цвет
                            .filter-collapse__content.dropdown-menu.dropdown-menu-right
                                .checkbox-block
                                    input#color1(type="checkbox").checkbox
                                    label(for="color1") Белый
                                .checkbox-block
                                    input#color2(type="checkbox").checkbox
                                    label(for="color2") Красный
                                .checkbox-block
                                    input#color3(type="checkbox").checkbox
                                    label(for="color3") Фиолетовый
                                a.button.button_blue-bordered(href="") Сбросить
                    .filter__footer
                        a.button.button_blue-bordered(href="") Сбросить
                        a.button.button_blue-filled(href="") Применить
                .category-sort
                    a(href="javascript:;", data-fancybox data-src="#category-filter", data-touch="false").mobile-filter-button Отфильтровать и упорядочить
                    .order-by
                        span Упорядочить
                        a(href="").order-by__item.default по умолчанию
                        a(href="").order-by__item.asc.selected новинки
                        a(href="").order-by__item популярность
                        a(href="").order-by__item.desc цена
                        a(href="").order-by__item скидка
                    .view-type
                        span Вид:
                        a(href="").view-type__item.view-type__item_3cols.active
                            include ../svg-min/view-type-3.svg
                        a(href="").view-type__item.view-type__item_2cols
                            include ../svg-min/view-type-2.svg
                        a(href="").view-type__item.view-type__item_1col
                            include ../svg-min/view-type-1.svg

                .category-items.row
                    .col-md-4.col-6
                        include ./components/_product-card-best.pug
                    .col-md-4.col-6
                        include ./components/_product-card-new.pug
                    - for (var x = 0; x < 4; x++)
                        .col-md-4.col-6
                            include ./components/_product-card-full.pug
                    
                .category-navigation
                    a(href="").loadmore 
                        i.loadmore__icon.ab-i-refresh
                        | Загрузить еще

                    .pagination
                        .prev 
                            a(href="")
                                include ../svg-min/pagination-prev.svg
                                span.command Ctrl, 
                                | Предыдущая
                        .pages
                            .item
                                a(href="") 1
                            .item
                                span ...
                            .item
                                a(href="") 5
                            .item
                                a(href="") 6
                            .item
                                a(href="").current 7
                            .item
                                a(href="") 8
                            .item
                                a(href="") 9
                            .item
                                span ...
                            .item
                                a(href="") 13
                        .next 
                            a(href="") Следующая
                                span.command , Ctrl
                                include ../svg-min/pagination-next.svg                   

        .category-description
            p Любую вещь из каталога интернет-магазина alexanderbogdanov.com всегда можно заказать с бесплатной доставкой по всей России и примерить перед оплатой. Это позволяет быть уверенной в том, что модель идеально подойдет. Курьер может доставить несколько моделей на выбор, а покупательница заплатить только за те, которые идеально подойдут. Оплатить покупки из интернет-магазина alexanderbogdanov.com можно любым удобным способом: наличными курьеру после примерки, банковской картой прямо на сайте, а также наложенным платежом. У каждого курьера в наличии мобильный терминал для оплаты по карте прямо у вас дома, после примерки. Интернет-магазин alexanderbogdanov.com очень внимательно относится к удовлетворенности своих клиентов. Поэтому товар, который был куплен, но не подошел можно вернуть в течение 14 дней после покупки.