extends ./components/_layout.pug
block variables
    - var title = 'Оформление заказа'
    - var mainCls = 'page-checkout'

block content

    .page-top.container
        .breadcrumbs
            .breadcrumbs__item
                a(href=home_link) Главная
            .breadcrumbs__item
                a(href=cart_link) Корзина
            .breadcrumbs__item
                span Оформление заказа
        h1.page-top__title.like-h1 Оформление заказа
    