.account {
    &__dropdown {
        width: 250px;
        right: 15px;
        left: auto !important;
        padding: 20px 25px;
        background: #F1F6FA;

        &::before {
            top: -13px;
            left: 63px;
            width: 25px;
            height: 25px;
        }

        .high-link:last-child {
            border-bottom: 0;
        }
    }
}