.city-select {
    display: inline-flex;
    align-items: center;
    height: 100%;

    span {
        white-space: nowrap;
    }

    &__link {
        margin-left: 8px;
        border-bottom: 1px dashed;
    }
}