.header-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        margin: 0 1px;
        
        > a {
            font-size: 0;
        }
    }
}