.header-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include desktop {
        padding-left: 0;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        
        
        > a {
            position: relative;
            font-size: 0;

            > svg {
                transition: opacity .16s ease;
            }

            &:hover > svg {
                opacity: 0.8;
            }
        }

        .counter {
            position: absolute;
            top: -5px;
            right: -8px;
            width: 17px;
            height: 17px;
            line-height: 17px;
            font-weight: 500;
            font-size: 11px;
            letter-spacing: 0.01em;
            text-align: center;
            color: #FFFFFF;
            text-align: center;
            background: $blue;
            border-radius: 50%;
        }


        @include phone {
            width: 45px;
            height: 45px;

            &.following {
                display: none;
            }
        }
    }
}