.language {
    position: relative;
    display: inline-flex;
    align-items: center;
    height: 100%;
    margin-right: 15px;

    &__icon {
        flex: 0 0 24px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        border: 2px solid #fff;
        margin-right: 5px;
        background-image: url(../images/sprite-lang-flags.png);
        background-size: cover;
        background-repeat: no-repeat;

        &_rus {
            background-position: 0 0;
        }
        &_eng {
            background-position: -20px 0;
        }
        &_esp {
            background-position: -40px 0;
        }
        &_de {
            background-position: -60px 0;
        }
    }

    &__arrow {
        width: 20px;
        height: 20px;
        background: url("data:image/svg+xml,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.6' fill-rule='evenodd' clip-rule='evenodd' d='M8.83333 0L5 3.83333L1.16667 0L0 1.16667L5 6.16667L10 1.16667L8.83333 0Z' fill='%234E5B67'/%3E%3C/svg%3E%0A") center no-repeat;
        transition: transform .2s;

        .show & {
            transform: rotateZ(180deg);
        }
    }

    &-select {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    &-dropdown {
        min-width: 120px;
        padding: 15px 10px;
        margin-left: -10px;
        background-color: #fff;
        box-shadow: 0px 10px 30px rgba(19, 36, 52, 0.05);

        &::before {
            width: 10px;
            height: 10px;
            top: -5px;
            left: 28px;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: $gray;
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }

        span {
            margin-left: 5px;
        }
    }
}