.main-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    &__link {
        margin-right: 17px;
        margin-left: 17px;

        > a {
            position: relative;
            font-family: Literata;
            font-weight: 600;
            font-size: 16px;   
            color: $dark;
            text-transform: uppercase;
        }
    }    
}


.catalog-menu {
    &__dropdown {
        top: 110% !important;
        left: 0;
        right: 0;
        padding-top: 40px;
        padding-bottom: 60px;
        background: #F1F6FA;
        transform: translate3d(0,0,0) !important;
        perspective: 150px;
        perspective-origin: top center;
        &::before {
            width: 25px;
            height: 25px;
            top: -13px;
            left: calc(50% - 224px);   
        }

        .show & {
            top: 100% !important;
        }

        a:hover {
            color: $blue;
        }
    }

    &__link {
        margin-bottom: 15px;
        
        > a {
            font-weight: 500;
            font-size: 15px;
            color: $gray;
            line-height: 20px;

            &.head {
                font-weight: 600;
                font-size: 16px;
                color: $dark;
            }
        }
    }

    .collection-link {
        margin-bottom: 20px;
    }
}

.collection-link {
    display: flex;
    align-items: center;
    font-weight: 500;
    line-height: 20px;
    color: $gray;

    img {
        flex: 0 0 90px;
        width: 90px;
        height: 60px;
        object-fit: cover;
        margin-right: 20px;
        background: #4E5B67;
    }
    &__title {
        font-size: 15px;
        margin-bottom: 4px;
    }
    &__short {
        font-weight: 600;
        font-size: 10px;
        line-height: 14px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        opacity: 0.7;
    }
}