.mini-cart {
    svg {
        margin-top: -4px;
    }

    &__dropdown {
        width: 410px;
        top: 20px;
        right: 0 !important;
        left: auto !important;
        transform: translate3d(-15px, 110px, 0px) !important;
        background: #F1F6FA;

        &::before {
            top: -13px;
            right: 64px;
            width: 25px;
            height: 25px;
        }
    }
}