.top {
    &-left {
        display: flex;
    }

    &-menu {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    
        &__link {
            display: flex;
            align-items: center;
            line-height: 40px;
            margin-left: 30px;
    
            &:first-child {
                margin-left: 0;
            }

            &:hover {
                opacity: 0.8;
                color: inherit;
            }
    
            i {
                margin-right: 9px;
            }
        }
    }
}