.subscribe {

    @media screen and (max-width: 991px) and (min-width: 768px) {
        display: grid;
        grid-template-areas: "title subtitle form"
                             "privacy privacy privacy";
        grid-template-columns: 1fr 220px 1fr;
        grid-column-gap: 26px;
        grid-row-gap: 20px;
        align-items: center;

        &__title,
        &__subtitle,
        &-form ,
        &__privacy {
            margin-bottom: 0;
        }
    }

    @include tablet {
        text-align: center;
    }

    &__title {
        grid-area: title;
        font-family: Literata;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    &__subtitle {
        grid-area: subtitle;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 30px;

        @include tablet {
            opacity: 0.6;
            font-weight: 400;
        }
    }

    &-form {
        position: relative;
        grid-area: form;
        max-width: 400px;
        margin: 0 auto 30px;

        &__input {
            width: 100%;
            height: 50px;
            border-radius: 50px;
            border: 0;
            padding: 0 60px 0 25px;
            color: $dark;
            background-color: #fff;
        }

        &__button {
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 100%;
            border: 0;
            border-radius: 0 50px 50px 0;
            padding: 0;
            background: none;
            cursor: pointer;
        }
    }

    &__privacy {
        grid-area: privacy;
        font-size: 13px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0.5px;
        opacity: 0.6;
    }
}