.founder-quote {
    position: relative;
    background: url(../images/letter-a-calligraphic.svg) top 180px right -125px no-repeat;
    overflow: hidden;
    margin-bottom: 120px;

    @include laptop {
        background-size: 428px;
        background-position: center right -180px;
        margin-bottom: 80px;
    }

    @include tablet {
        margin-bottom: 40px;
    }

    &::before {
        content: '';
        position: absolute;
        top: 80px;
        left: 0;
        bottom: 0;
        width: (707*100/1440)+vw;
        border-radius: 0 25px 0 0;
        background-color: rgba(232, 240, 246, 0.4);
        background-image: url(../images/bg-flowers-2.png);
        background-position: right 130px bottom;
        background-repeat: no-repeat;
        z-index: -1;

        @include laptop {
            top: 44px;
            background-size: 512px;
            background-position: right 60px bottom 20px;
        }

        @include tablet {
            top: 0;
            width: 100%;
            background-size: 140px;
            background-position: left bottom;
        }
    }

    &__photo {
        font-size: 0;

        @include tablet {
            display: none;
        }

        img {
            max-width: 380px;
            margin-left: -40px;

            @include laptop {
                max-width: 300px;
                margin-left: -100px;
            }
        }
    }

    &__text {
        margin-top: 40px;
        align-self: center;

        p {
            font-weight: 500;
            font-size: 18px;
            line-height: 26px;
            margin-bottom: 20px;

            @include laptop {
                font-size: 15px;
                line-height: 22px;
            }
        }
    }
    
    .b-heading {
        position: relative;
        font-weight: 400;
    }

    &__quote-icon {
        position: absolute;
        top: 2px;
        left: -100px;
        width: 50px;

        @include laptop {
            left: -63px;
            width: 30px;
        }

        @include tablet {
            position: initial;
            display: block;
            margin-bottom: 20px;
        }
    }

    &__about {
        display: flex;

        img {
            display: none;

            @include tablet {
                display: block;
                margin-right: 17px;
            }
        }

        .text {
            font-weight: 600;
            font-size: 18px;
            line-height: 25px;

            @include laptop {
                font-size: 15px;
                line-height: 22px;
            }

            @include tablet {
                margin-top: 10px;
            }
        }
    }
}