.fw-slider {
    opacity: 0;
    transition: opacity .2s ease;

    &.flickity-enabled {
        opacity: 1;
    }
}

.fw-slide {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 550px;

    @include laptop {
        min-height: 380px;
    }

    @include tablet {
        min-height: 340px;
    }

    &__content {
        width: 50%;
        padding-left: 50px;
        margin-bottom: 60px;
    }

    &__label {
        position: relative;
        font-size: 16px;
        line-height: 22px;
        color: $gray;
        margin-bottom: 30px;
        &::before {
            content: '';
            display: block;
            width: 2px;
            height: 100%;
            position: absolute;
            top: 0;
            left: -50px;
            background-color: $blue;
        }
    }

    &__title {
        font-family: Literata;
        font-weight: 700;
        font-size: 50px;
        line-height: 64px;
        text-transform: uppercase;
        color: $dark;
        margin-bottom: 50px;
    }

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

}