.goods-pw {
    margin-bottom: 120px;

    @include laptop {
        margin-bottom: 80px;
    }

    @include tablet {
        display: none;
    }

    .b-heading {
        margin-top: 50px;
        margin-bottom: 60px;

        @include desktop {
            margin-top: 20px;
            margin-bottom: 40px;
        }
    }

    &-description-slider,
    &-photo-slider {
        opacity: 0;
        transition: opacity .2s ease;
    
        &.flickity-enabled {
            opacity: 1;
        }
    }


    &-description-slider {
        .flickity-viewport {
            transition: height 0.2s;
        }

        .item {
            display: flex;
            justify-content: space-between;
            width: 100%;

            &__photo {
                position: relative;
                flex: 0 0 260px;
                width: 100%;
                height: 410px;
                margin-right: 50px;
                background: #F8F8FA;

                @include desktop {
                    margin-right: 30px;
                }

                @include laptop {
                    flex: 0 0 160px;
                    height: 250px;
                }

                img {
                    max-width: 100%;
                    max-height: 100%;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                }
            }

            &__title {
                font-weight: 600;
                font-size: 20px;
                line-height: 130%;
                margin-top: 20px;
                margin-bottom: 20px;

                @include laptop {
                    margin-top: 30px;
                    font-size: 18px;
                    line-height: 120%;
                }
            }

            &__price {
                font-weight: 600;
                font-size: 20px;
                margin-bottom: 20px;

                @include laptop {
                    font-size: 18px;
                    margin-bottom: 30px;
                }
            }

            &__description {
                font-weight: 500;
                font-size: 18px;
                line-height: 144%;
                color: $gray;
                margin-bottom: 40px;

                @include desktop {
                    font-size: 16px;
                }
                @include laptop {
                    display: none;
                }
            }

            .link-detailed {
                display: inline-flex;

                &::before {
                    @include laptop {
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }
    }


    &__photo {
        align-self: start;

        @include desktop {
            .slider-nav {
                padding-left: 12px;
                padding-right: 12px;
            }
            .slider-nav__dots {
                display: none;
            }
        }
    }

    &-photo-slider {
        height: 620px;
        border-radius: 25px 0 0 0;
        overflow: hidden;

        @include laptop {
            height: 380px;
        }

        .item {
            width: 100%;
            height: 100%;
            font-size: 0;
    
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}