@import 'fw-slider';
@import 'advantages';
@import 'watch-catalog';
@import 'new-products';
@import 'founder-quote';
@import 'inspiration';
@import 'made-form';
@import 'style-samples';
@import 'goods-pw';
@import 'shops';