.new-products {
    margin-bottom: 100px;

    @include laptop {
        margin-bottom: 78px;
    }

    @include tablet {
        margin-bottom: 60px;
    }

    &-wrapper {
        overflow: hidden;
    }

    &__left {
        padding-top: 30px;

        p {
            font-size: 18px;
            line-height: 150%;
            margin-bottom: 40px;

            @include laptop {
                font-size: 16px;
            }
        }
    }

    &-slider {
        @include laptop {
            display: none;
        }
    }


    .product-card {
        &__thumb {
            height: 380px;
            margin-bottom: 15px;
    
            @include desktop {
                height: 295px;
            }
        }

        &__name {
            padding-right: 24px;
        }
    }
}