.style-samples {
    margin-bottom: 120px;

    @include laptop {
        margin-bottom: 80px;
    }

    @include tablet {
        margin-bottom: 50px;
    }


    &__left {
        margin-top: 20px;
        
        p {
            font-size: 18px;
            line-height: 26px;
            margin-bottom: 40px;
            @include tablet {
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 18px;
            }
        }

        .button {
            @include laptop {
                display: none;
            }
        }
    }

    &__items {
        display: flex;
        border-radius: 25px 0 0 0;
        overflow: hidden;
        @include laptop {
            margin-bottom: 30px;
        }
        @include tablet {
            display: block;
        }
    }

    &__item {
        position: relative;
        width: 100%;
        height: 420px;
        margin-right: 2px;
        background-color: $light;

        &:last-child {
            margin-right: 0;
        }

        @include tablet {
            display: flex;
            align-items: center;
            height: 80px;
            margin-right: 0;
            margin-bottom: 2px;
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top center;
        @include tablet {
            width: 100px;
        }
    }

    &__label {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 75px;
        padding: 0 30px;
        font-family: Literata;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.005em;
        text-transform: uppercase;
        text-align: center;
        color: $dark;
        background-color: $light;

        @include tablet {
            position: initial;
            padding: 0 20px;
            font-size: 14px;
            line-height: 22px;
            text-align: left;
        }
    }


    > .button {
        display: none;

        @include laptop {
            display: inline-flex;
        }
    }
}