.style-samples.container
    .row
        .style-samples__left.col-lg-4
            .b-heading Романтика
                br 
                | ваших чувств
            p Каждая модель — маленькое произведение искусства, подлинник автора, без копий, реплик и прямых заимствований.
            a(href="").button.button_blue-filled В каталог

        .col-lg-8
            .style-samples__items
                .style-samples__item
                    img(src="images/style-sample_1.jpg", alt="").style-samples__image
                    .style-samples__label Повседневный Стиль
                .style-samples__item
                    img(src="images/style-sample_2.jpg", alt="").style-samples__image
                    .style-samples__label Деловой стиль
                .style-samples__item
                    img(src="images/style-sample_3.jpg", alt="").style-samples__image
                    .style-samples__label Чистый стиль

    a(href="").button.button_blue-filled В каталог