$dark: #132434;
$gray: #4E5B67;
$blue: #67ADD7;
$light: #E8F0F6;


@mixin desktop {
    @media screen and (max-width: 1199px) {
        @content;
    }
}
@mixin laptop {
    @media screen and (max-width: 991px) {
        @content;
    }
}
@mixin tablet {
    @media screen and (max-width: 767px) {
        @content;
    }
}
@mixin phone {
   @media screen and (max-width: 575px) {
        @content;
   }
}


body {
    font-family: 'Gilroy', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: $gray;
}

h1 {
    font-size: 40px;
}

a {
    color: inherit;
    text-decoration: none;
    outline: none;
    transition: all .16s ease;
}

p {
    line-height: 24px;
}

img {
    max-width: 100%;
}

input,
button {
    outline: none;
}

.disabled {
    pointer-events: none;
}

.b-heading {
    font-family: Literata;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    color: $dark;
    margin-bottom: 30px;

    @include laptop {
        font-size: 26px;
        line-height: 34px;
        margin-bottom: 20px;
    }
}

.button {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4em;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 0 35px;
    height: 54px;
    border-radius: 30px;
    transition: background .16s ease;

    &_blue-filled {
        background: $blue;

        &:hover {
            background: #428CC3;
        }
        &:active {
            background: #2A71B1;
        }
        &.disabled {
            background: #2A71B1;
            opacity: 0.15;
        }
    }
}

.link {

    &-detailed {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: $gray;
        &::before {
            content: '';
            display: block;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 15px;
            background-color: $blue;
            background-image: url(../images/arrow-detailed.svg);
            background-position: center;
            background-repeat: no-repeat;
            transition: background-color .16s ease;
        }

        &:hover::before {
            background-color: #428CC3;
        }
        &:active::before {
            background-color: #2A71B1;
        }
    }
}