$dark: #132434;
$gray: #4E5B67;
$blue: #67ADD7;
$light: #E8F0F6;


@mixin desktop {
    @media screen and (max-width: 1199px) {
        @content;
    }
}
@mixin laptop {
    @media screen and (max-width: 991px) {
        @content;
    }
}
@mixin tablet {
    @media screen and (max-width: 767px) {
        @content;
    }
}
@mixin phone {
   @media screen and (max-width: 479px) {
        @content;
   }
}


body {
    font-family: 'Gilroy', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: $gray;
}

h1 {
    font-size: 40px;
}

a {
    color: inherit;
    text-decoration: none;
    outline: none;
    transition: all .16s ease;
}

img {
    max-width: 100%;
}

input,
button {
    outline: none;
}

.disabled {
    pointer-events: none;
}

.button {
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    line-height: 54px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 0 35px;
    height: 54px;
    border-radius: 30px;
    white-space: nowrap;
    transition: background .16s ease;

    &_blue-filled {
        background: $blue;

        &:hover {
            background: #428CC3;
        }
        &:active {
            background: #2A71B1;
        }
        &.disabled {
            background: #2A71B1;
            opacity: 0.15;
        }
    }
}