$dark: #132434;
$gray: #4E5B67;
$blue: #67ADD7;
$light: #E8F0F6;


@mixin desktop {
    @media screen and (max-width: 1199px) {
        @content;
    }
}
@mixin laptop {
    @media screen and (max-width: 991px) {
        @content;
    }
}
@mixin tablet {
    @media screen and (max-width: 767px) {
        @content;
    }
}
@mixin phone {
   @media screen and (max-width: 575px) {
        @content;
   }
}

@keyframes rotate {
	0% {
		transform: translateY(-50%) rotate(0deg);
	}

	to {
		transform: translateY(-50%) rotate(359deg);
	}
}


body {
    font-family: 'Gilroy', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: $gray;
    padding-top: 150px;

    @include desktop {
        padding-top: 70px;
    }
}

a {
    color: inherit;
    text-decoration: none;
    transition: all .16s ease;
}

p {
    line-height: 24px;
}

img {
    max-width: 100%;
}

a,
input,
button {
    outline: none;
}

picture {
    font-size: 0;
}

.disabled {
    pointer-events: none;
}

.fancybox-bg {
    background: $light;
    opacity: 0.8;
}

.page-wrapper {
    margin-bottom: 140px;

    @include laptop {
        margin-bottom: 60px;
    }

    @include phone {
        margin-bottom: 40px;
    }
}

.b-heading {
    font-family: Literata;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    color: $dark;
    margin-bottom: 30px;

    @include laptop {
        font-size: 26px;
        line-height: 34px;
        margin-bottom: 20px;
    }
}

h1, .like-h1,
h2, .like-h2 {
    font-family: Literata;
    font-weight: 600;
    color: $dark;
    margin-top: 0.4em;
    margin-bottom: 0.8em;
}

h1, .like-h1 {
    font-size: 40px;
    line-height: 50px;
    @include laptop {
        font-size: 26px;
        line-height: 30px;
    }
}

h2, .like-h2 {
    font-size: 30px;
    line-height: 40px;
    @include laptop {
        font-size: 24px;
        line-height: 32px;
    }
}


.button {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4em;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 0 35px;
    height: 54px;
    border-radius: 30px;
    transition: background .16s ease;

    &_blue-filled {
        background: $blue;

        &:hover {
            background: #428CC3;
        }
        &:active {
            background: #2A71B1;
        }
        &.disabled {
            background: #2A71B1;
            opacity: 0.15;
        }
    }

    &_blue-bordered {
        color: $gray;
        border: 1px solid #67ADD7;
        background: transparent;

        &:hover {
            color: #fff;
            border-color: #428CC3;
            background: #428CC3;
        }
        &:active {
            border-color: #2A71B1;
            background: #2A71B1;
        }
        &.disabled {
            background: #2A71B1;
            opacity: 0.15;
        }
    }
}

.link-detailed {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: $gray;
    &::before {
        content: '';
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 15px;
        background-color: $blue;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none'%3E%3Cpath fill-rule='evenodd' d='M6 0L4.95 1.05l4.2 4.2H0v1.5h9.15l-4.2 4.2L6 12l6-6-6-6z' fill='%23fff'/%3E%3C/svg%3E");
        background-position: center;
        background-repeat: no-repeat;
        transition: background-color .16s ease;
    }

    &:hover::before {
        background-color: #428CC3;
    }
    &:active::before {
        background-color: #2A71B1;
    }
}

.high-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 49px;
    font-weight: 500;
    font-size: 15px;
    color: $gray;
    border-bottom: 1px solid rgba(78, 91, 103, 0.15);
}