header {
    position: relative;
    box-shadow: 0px 10px 30px rgba(19, 36, 52, 0.05);
    background: #fff;

    &.fixed {
        .header__logo img {
            width: 135px;
        }
        .main-menu__link {
            padding: 26px 0;
        }
    }
}

.header {
    &__top {
        background: rgba(232, 240, 246, 0.4);
    }

    // &__main {
    //     padding-top: 33px;
    //     padding-bottom: 33px;
    //     transition: padding .2s ease;
    // }

    &__logo {
        align-self: center;

        img {
            width: 170px;
            transition: width .2s ease;
        }
    }
}


.top-left {
    display: flex;
    align-items: center;
}


.language {
    margin-right: 15px;
}


.top-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &__link {
        display: flex;
        align-items: center;
        line-height: 40px;
        margin-left: 30px;

        &:first-child {
            margin-left: 0;
        }

        .icon {
            width: 24px;
            height: 24px;
            background: $dark;
            margin-right: 9px;
        }
    }
}


.main-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    &__link {     
        font-weight: 600;
        font-size: 16px;   
        color: $dark;
        margin-right: 17px;
        margin-left: 17px;
        padding: 47px 0;
        transition: padding .2s ease;

        > a {
            font-family: Literata;
            text-transform: uppercase;
        }
    }

    &__dropdown {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        padding-top: 40px;
        padding-bottom: 60px;
        background: #F1F6FA;
        z-index: 100;
    }
}