header {
    position: relative;
    box-shadow: 0px 10px 30px rgba(19, 36, 52, 0.05);
    background: #fff;

    &.fixed {
        .header__logo img {
            width: 135px;
        }
    }
}

.header {
    &__top {
        background: rgba(232, 240, 246, 0.4);

        @include desktop {
            display: none;
        }
    }

    &__logo {
        align-self: center;

        img {
            width: 170px;
            transition: width .2s ease;
        }
    }

    &__main {
        height: 110px;        
        transition: height .2s ease;

        @include desktop {
            height: 70px;
        }

        &-row {
            height: 100%;
        }
    }
}


.top {
    &-left {
        display: flex;
    }

    &-menu {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    
        &__link {
            display: flex;
            align-items: center;
            line-height: 40px;
            margin-left: 30px;
    
            &:first-child {
                margin-left: 0;
            }
    
            .icon {
                width: 24px;
                height: 24px;
                background: $dark;
                margin-right: 9px;
            }
        }
    }
}


.main-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    &__hamburger {

    }

    &__item {
        margin-right: 17px;
        margin-left: 17px;

        > a {
            position: relative;
            font-family: Literata;
            font-weight: 600;
            font-size: 16px;   
            color: $dark;
            text-transform: uppercase;
        }

        &_parent {
            > a::after {
                content: '';
                width: 25px;
                height: 25px;
                position: absolute;
                left: 0;
                right: 0;
                bottom: -58px;
                margin: 0 auto;
                transform: rotate(-45deg);
                background: #F1F6FA;
                pointer-events: none;
                transition: opacity .2s ease;
                opacity: 0;
            }

            &.show > a::after{
                opacity: 1;
            }
        }
    }

    &__sub-item {
        margin-bottom: 15px;
        
        > a {
            font-weight: 500;
            font-size: 15px;
            color: $gray;
            line-height: 20px;

            &.head {
                font-weight: 600;
                font-size: 16px;
                color: $dark;
            }
        }
    }

    &__dropdown {
        top: 100% !important;
        left: 0;
        right: 0;
        padding-top: 40px;
        padding-bottom: 60px;
        background: #F1F6FA;
        transform: translate3d(0,0,0) !important;
        perspective: 150px;
        perspective-origin: top center;
    }

    .collection-link {
        margin-bottom: 20px;
    }
}

.collection-link {
    display: flex;
    align-items: center;
    font-weight: 500;
    line-height: 20px;
    color: $gray;

    img {
        flex: 0 0 90px;
        width: 90px;
        height: 60px;
        object-fit: cover;
        margin-right: 20px;
        background: #4E5B67;
    }
    &__title {
        font-size: 15px;
        margin-bottom: 4px;
    }
    &__short {
        font-weight: 600;
        font-size: 10px;
        line-height: 14px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        opacity: 0.7;
    }
}