header {
    position: relative;
    box-shadow: 0px 10px 30px rgba(19, 36, 52, 0.05);
    background: #fff;

    &.fixed {
        .header__logo img {
            width: 135px;
        }
    }
}

.header {
    &__top {
        background: rgba(232, 240, 246, 0.4);

        @include desktop {
            display: none;
        }
    }

    &__logo {
        align-self: center;

        img {
            width: 170px;
            transition: width .2s ease;
        }
    }

    &__main {
        height: 110px;        
        transition: height .2s ease;

        @include desktop {
            height: 70px;
        }

        &-row {
            height: 100%;
        }
    }
}
