.input-item {
    position: relative;
    margin-top: 25px;
    font-size: 0;
    // margin-bottom: 25px;

    .show-password {
        position: absolute;
        top: 14px;
        right: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        z-index: 1;
        cursor: pointer;
    }
}

.input-or-det {
    position: relative;
    margin-top: 15px;
    margin-bottom: -10px;
    z-index: 1;

    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        height: 1px;
        background-color: rgba(78, 91, 103, 0.2);
    }
    span {
        position: relative;
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        color: rgba(78, 91, 103, 0.5);
        padding: 0 8px;
        margin-left: 12px;
        background: #fff;
        z-index: 1;
    }
}

.radio-group {
    margin-top: 25px;

    &__title {
        font-weight: 500;
        font-size: 15px;
        color: #4E5B67;
        margin-right: 25px;
    }  
}

.radio-item {
    display: inline-flex;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;    
    transition: background .12s ease;

    &.checked {
        background: #F8F8FA;
    }
}

.input,
.search-autocomplete-input {
    width: 100%;
    height: 54px;
    padding: 0 40px 0 20px;
    font-weight: 500;
    font-size: 15px;
    color: $dark;
    border: 1px solid rgba(78, 91, 103, 0.2);
    border-radius: 3px;
    background-color: #fff;
    background-position: right 15px center;
    background-repeat: no-repeat;
    transition: all .2s ease;

    &::placeholder {
        color: $gray;
    }

    &:focus {
        border-color: $blue;
        border-radius: 5px; 
    }

    &.disabled {
        background: rgba(78, 91, 103, 0.03);
        border: 1px solid rgba(78, 91, 103, 0.05);
        border-radius: 5px;
    }
}

.input {
    + label {
        position: absolute;
        top: 0;
        left: 20px;
        font-size: 15px;
        line-height: 54px;
        color: $gray;
        background: transparent;
        transition: all .2s ease;
        pointer-events: none;
    }

    &.filled,
    &:focus {
        + label {
            top: -13px;
            left: 10px;
            font-size: 14px;
            line-height: 24px;
            padding: 0 10px;
            color: rgba(78, 91, 103, 0.6);
            background-color: #fff;
        }
    }


    &.invalid {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' fill='none'%3E%3Cpath fill-rule='evenodd' d='M14 1.4L12.6 0L7 5.6L1.4 0L0 1.4L5.6 7L0 12.6L1.4 14L7 8.4L12.6 14L14 12.6L8.4 7L14 1.4Z' fill='%23ff6f00'/%3E%3C/svg%3E");
        border-color: #FF6F00;
        border-radius: 5px;
    }

    &.valid {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='14' fill='none'%3E%3Cpath fill-rule='evenodd' d='M6 11.2L1.8 7 .4 8.4 6 14 18 2 16.6.6 6 11.2z' fill='%23219653'/%3E%3C/svg%3E");
    }

    &_password {
        background-image: none !important;
    }
    
}

.search-autocomplete {
    &[data-loading=true] {
        &::after {
            content: "";
            border: 2px solid rgba(0,0,0,.12);
            border-right-color: rgba(0,0,0,.48);
            border-radius: 100%;
            width: 20px;
            height: 20px;
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            animation: rotate 1s linear infinite;
        }
        .search-autocomplete-input {
            background-image: none;
        }
    }

    &-input {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none'%3E%3Cpath d='M18.906 18.02L15.84 14.74c1.36-1.617 2.105-3.65 2.105-5.768C17.944 4.025 13.92 0 8.972 0S0 4.025 0 8.972s4.025 8.972 8.972 8.972c1.857 0 3.627-.56 5.14-1.624l3.107 3.32a1.16 1.16 0 0 0 .843.359c.304 0 .592-.116.81-.326a1.17 1.17 0 0 0 .032-1.655zM8.972 2C12.63 2 16 5.343 16 9s-3.37 7-7.028 7S2 12.63 2 8.972 5.315 2 8.972 2z' fill='%234e5b67'/%3E%3C/svg%3E");
    }

    &-result {
        font-weight: 500;
        font-size: 15px;
        color: #4E5B67;
        line-height: 50px;
        padding: 0 20px;
        border-radius: 3px;
        cursor: pointer;
        transition: all .16s ease-in;
        &:hover,
        &[aria-selected=true] {
            background: #E8F0F6;
        }

        &-list{ 
            list-style: none;
            padding: 0;
            margin: 0;
            background: #FFFFFF;
            box-shadow: 0px 5px 30px rgba(19, 36, 52, 0.15);
            border-radius: 3px;
        }
    }
}

.checkbox, .radio {
    position: absolute;
    z-index: -1;
    opacity: 0;

    + label {
        position: relative;
        display: inline-flex;
        font-size: 15px;
        line-height: 22px;
        cursor: pointer;

        &::before,
        &::after {
            content: '';
            display: block; 
        }

        &::before {
            background-color: #fff;
            border: 1px solid rgba(78, 91, 103, 0.2);
        }

        &::after {
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            opacity: 0;
            transition: opacity .12s ease;
        }
    }

    &:checked + label::after {
        opacity: 1;
    }

    &:disabled + label,
    &.disabled + label {
        opacity: 0.3;
        pointer-events: none;
    }
}

.checkbox {
    + label {
        line-height: 24px;
        &::before {
            flex: 0 0 24px;
            width: 24px;
            height: 24px;
            margin-right: 12px;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 3px;
        }

        &::after {
            top: 7px;
            bottom: auto;
            left: 6px;
            width: 12px;
            height: 7px;
            border-width: 0 0 2px 2px;
            border-color: $blue;
            border-style: solid;
            transform: rotate(-45deg);
        }
    }

    &__high-label {
        span {
            display: block;
            font-weight: 600;
            font-size: 10px;
            line-height: 14px;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            color: #132434;
            opacity: 0.5;
        }
    }
}

.radio {
    + label {
        align-items: center;
        padding-top: 12px;
        padding-bottom: 12px;
        min-height: 52px;

        &::before {
            flex: 0 0 18px;
            width: 18px;
            height: 18px;
            margin-right: 12px;
            border-radius: 50%;
        }

        &::after {
            left: 4px;
            width: 10px;
            height: 10px;
            background: $blue;
            border-radius: 50%;
        }
    }
}

.toggle-group {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 20px;
    background: #E8F0F6;
    border: 1px solid #E8F0F6;

    &__title {
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #132434;
        margin-right: 20px;
    }
    
    .toggle:not(:last-child) {
        margin-right: 20px;
    }

    @include tablet {
        &__title {
            width: 100%;
            margin-bottom: 20px;
        }
    }
}

.toggle {
    position: relative;
    display: flex;
    align-items: center;

    input {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 20px;
        opacity: 0;
        border-radius: 16px;
        cursor: pointer;
        z-index: 2;

        &:checked + {
            .toggle__item {
                background: #67ADD7;

                &::after {
                    left: 18px;
                }
            }
        }
    }

    &__item {
        position: relative;
        width: 36px;
        height: 20px;
        background: rgba(78, 91, 103, 0.2);
        border-radius: 16px;
        cursor: pointer;
        transition: background .16s ease;

        &::after {
            content: '';
            display: block;
            width: 16px;
            height: 16px;
            position: absolute;
            top: 2px;
            left: 2px;
            border-radius: 50%;
            background-color: #fff;
            z-index: 1;
            transition: all .16s ease;
        }
    }

    &__label {
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
        margin-left: 14px;
    }
}


select {
    display: none;
}

.select2 {
    position: relative;
    display: block;
    width: 100% !important;
    cursor: pointer;
    -webkit-user-select: none;

    &:focus,
    span:focus {
        outline: none;
    }

    &-container--open {
        z-index: 99999;

        .select2-selection {
            &__arrow {
                transform: rotate(180deg);
            }

            // &__placeholder {
            //     top: -13px;
            //     left: 10px;
            //     font-size: 14px;
            //     line-height: 24px;
            //     padding: 0 10px;
            //     color: rgba(78, 91, 103, 0.6);
            //     background-color: #fff;
            // }
        }
    }

    &-selection {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 54px;
        padding: 0 20px;
        background: #FFFFFF;
        border: 1px solid rgba(78, 91, 103, 0.2);
        border-radius: 3px;

        &__arrow {
            display: block;
            width: 10px;
            height: 7px;
            background: url("data:image/svg+xml,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.6' fill-rule='evenodd' clip-rule='evenodd' d='M8.83333 0L5 3.83333L1.16667 0L0 1.16667L5 6.16667L10 1.16667L8.83333 0Z' fill='%234E5B67'/%3E%3C/svg%3E%0A") center no-repeat;
            transform-origin: center 3px;
        }

        &__placeholder {
            position: absolute;
            top: 0;
            left: 20px;
            font-size: 15px;
            line-height: 54px;
            color: #4E5B67;
            background: transparent;
            transition: all .2s ease;
            pointer-events: none;
        }
    }

    

    &-dropdown {
        display: block;
        background: #FFFFFF;
        box-shadow: 0px 5px 30px rgba(19, 36, 52, 0.15);
        border-radius: 3px;
    }

    &-results {
        &__options {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        &__option {
            font-weight: 500;
            font-size: 15px;
            color: #4E5B67;
            line-height: 50px;
            padding: 0 20px;
            border-radius: 3px;
            cursor: pointer;
            transition: all .16s ease-in;

            &--highlighted {
                background: #E8F0F6;
            }
        }
    }

    &-search {
        display: none;
        width: 100%;
        padding: 20px 20px;

        &__field {
            width: 100%;
            height: 100%;
            font-weight: 500;
            font-size: 15px;
            color: $dark;
            border-width: 0 0 1px 0;
            border-style: solid;
            border-color: rgba(78, 91, 103, 0.2);
            outline: 0;
            padding: 0 0 8px;
            background-color: #fff;
        }
    }
}