@import 'gui';
@import 'fonts';
@import 'inputs';

@import 'header';
@import 'header/top';
@import 'header/lang';
@import 'header/city-select';
@import 'header/hamburger';
@import 'header/mobile-menu';
@import 'header/main-menu';
@import 'header/header-icons';
@import 'header/account';
@import 'header/mini-cart';

@import 'components/dropdown';
@import 'components/socials';
@import 'components/slider';
@import 'components/modals';
@import 'components/form';
@import 'components/page-top';
@import 'components/product-slider';
@import 'components/advantages';
@import 'components/choise-size';
@import 'components/price';

@import 'homepage/index';

@import 'catalog/categories-grid';
@import 'catalog/filter';
@import 'catalog/catalog';
@import 'catalog/categories-list';
@import 'catalog/product-card';
@import 'catalog/product-page';
@import 'catalog/product-photo-slider';


@import 'components/order-info';

@import 'cart/overrides';
@import 'cart/cart';
@import 'cart/empty';

@import 'footer';
@import 'footer/subscribe';

@import 'icons';
