@import 'gui';
@import 'fonts';
@import 'inputs';

@import 'header';
@import 'header/top';
@import 'header/lang';
@import 'header/city-select';
@import 'header/hamburger';
@import 'header/mobile-menu';
@import 'header/main-menu';
@import 'header/header-icons';
@import 'header/account';
@import 'header/mini-cart';

@import 'components/dropdown';
@import 'components/socials';
@import 'components/slider';
@import 'components/modals';
@import 'components/page-top';
@import 'components/product-slider';

@import 'homepage/index';

@import 'catalog/categories-grid';
@import 'catalog/catalog';
@import 'catalog/categories-list';
@import 'catalog/product-card';

@import 'footer';
@import 'footer/subscribe';

@import 'icons';
