.categories-list {

    &__title {
        font-family: Literata;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 50px;
        letter-spacing: 0.01em;
        padding-left: 5px;
        text-transform: uppercase;
        color: $dark;
        border-bottom: 1px solid $light;
    }

    a:hover {
        color: $blue;
    }

    &__item {
        font-weight: 500;
        letter-spacing: 0.005em;
        line-height: 22px;
        color: $gray;
        border-bottom: 1px solid $light;

        > a {
            display: flex;
            align-items: center;
            min-height: 50px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 5px;
            transition: 0s;
        }

        &.parent {
            position: relative;

            > a {
                margin-right: 30px;
            }
            
            .arrow {
                position: absolute;
                top: 0;
                right: 0;
                width: 30px;
                height: 50px;
                background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8' fill='%234e5b67'%3E%3Cpath opacity='.6' fill-rule='evenodd' d='M10.6 0L6 4.6 1.4 0 0 1.4l6 6 6-6L10.6 0z'/%3E%3C/svg%3E") center no-repeat;
                transition: transform .2s;
                cursor: pointer;
            }
        }
    }

    &-sub {
        display: none;

        &__item {
            margin-bottom: 12px;

            > a {
                display: block;
                font-size: 15px;
                padding-left: 15px;
            }
        }
    }

    .active > a,
    .current > a {
        font-weight: 600;
        color: $dark;
    }

    .active  .arrow {
        transform: rotate(-180deg);
    }
}