.page-catalog-common {
    margin-bottom: 0;


    .product-slider-wrapper {
        padding-bottom: 140px;

        @include laptop {
            padding-bottom: 60px;
        }
    }

    .page-top {
        @include laptop {
            margin-bottom: 40px;
        }

        @include tablet {
            margin-bottom: 30px;
        }
    }
}

.page-category {
    .categories-list {
        padding-right: 20px;
        margin-bottom: 25px;
    }

    .page-top {
        @include laptop {
            margin-bottom: 20px;
        }

        @include phone {
            margin-bottom: 10px;
        }
    }
}


.category {
    &-right {
        padding-top: 20px;

        .filter {
            margin-bottom: 24px;
        }
    }
    

    &-sort {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        margin-bottom: 25px;
        color: $gray;

        .mobile-filter-button {
            display: none;

            @include tablet {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 54px;
                font-weight: 500;
                font-size: 15px;
                border: 1px solid $blue;
                border-radius: 3px;
                margin-right: 15px;
            }

            @include phone {
                margin-right: 5px;
            }
        }
    }
    
    &-items {
        margin-left: -10px;
        margin-right: -10px;
        margin-bottom: 30px;

        @include laptop {
            margin-bottom: 0;
        }

        > [class*="col-"] {
            padding-left: 10px;
            padding-right: 10px;
        }

        .product-card {
            margin-bottom: 25px;

            &__thumb {
                @include desktop {
                    height: 344px;
                }

                @include phone {
                    height: (225/360*100)+vw;
                }
            }
        }
    }

    &-description {
        font-size: 15px;
    }
}

.order-by, .view-type {
    display: flex;
    align-items: center;
}

.order-by {
    &__item {
        margin-left: 10px;
        &:hover,
        &.selected {
            color: $blue;
        }
    }

    &__item:not(.default) {
        display: inline-flex;
        align-items: center;

        &::after {
            content: '';
            display: block;
            width: 8px;
            height: 12px;
            margin-left: 6px;
            background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='8' height='12' fill='%234E5B67' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.453.15L.151 3.423a.508.508 0 000 .724c.202.2.528.2.73 0l2.421-2.4v9.742c0 .282.231.511.516.511a.514.514 0 00.516-.511V1.745l2.422 2.4c.201.2.528.2.73 0a.508.508 0 000-.723L4.182.15a.52.52 0 00-.73 0z'/%3E%3C/svg%3E");
            background-position: center;
            background-repeat: no-repeat;
            transition: all .16s ease;
        }

        &:hover,
        &.selected {
            &::after {
                background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='8' height='12' fill='%2367ADD7' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.453.15L.151 3.423a.508.508 0 000 .724c.202.2.528.2.73 0l2.421-2.4v9.742c0 .282.231.511.516.511a.514.514 0 00.516-.511V1.745l2.422 2.4c.201.2.528.2.73 0a.508.508 0 000-.723L4.182.15a.52.52 0 00-.73 0z'/%3E%3C/svg%3E");
            }
        }

        &.desc::after {
            transform: rotate(0);
        }

        &.asc::after {
            transform: rotate(180deg);
        }
    }

    @include tablet {
        display: none;
    }
}

.view-type {
    &__item {
        margin-left: 15px;
        cursor: pointer;

        svg {
            display: block;
            transition: all .12s ease;
        }
        &.active,
        &:hover {
            svg {
                fill: $blue;
                opacity: 1;
            }
        }

        &[data-cols="3"] {
            @include tablet {
                display: none;
            }
        }

        &[data-cols="1"] {
            display: none;

            @include tablet {
                display: block;
            }
        }
    }

    @include laptop {
        span {
            display: none;
        }
    }
}


.loadmore {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 55px;
    font-weight: 500;
    font-size: 15px;
    background: #fff;
    border: 1px solid #67ADD7;
    border-radius: 3px;
    margin-bottom: 30px;
    transition: all .2s ease;

    &:hover {
        background: #67ADD7;
        color: #ffffff;
    }

    @include laptop {
        margin-bottom: 25px;
    }

    &__icon {
        margin-right: 12px;
    }
}


.pagination {
    display: grid;
    grid-template-areas: "prev pages pages next";
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-weight: 500;
    font-size: 14px;
    color: $gray;
    margin-top: 60px;
    margin-bottom: 60px;

    @include laptop {
        .command {
            display: none;
        }
    }

    @include tablet {
        grid-template-areas: "pages pages"
                            "prev next";
        margin-top: 25px;
        margin-bottom: 40px;
    }
    
    .pages {
        grid-area: pages;
        display: flex;
        justify-content: center;
        @include tablet {
            margin-bottom: 10px;
        }
    }

    .item {
        > a,
        > span {
            display: block;
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
        }

        > a {
            transition: all .16s ease;
            border-radius: 20px;

            &.current,
            &:hover {
                background: #E8F0F6;
            }
        }

        @include laptop {
            > span {
                width: 20px;
            }
        }
    }

    .prev, .next {
        line-height: 40px;

        svg {
            transition: all .16s ease;
        }

        &:hover {
            a {
                color: $blue;
            }

            svg {
                stroke: $blue;
            }
        }
    }

    .prev {
        grid-area: prev;
        margin-right: 20px;

        svg {
            margin-bottom: -1px;
            margin-right: 9px;
        }
    }

    .next {
        grid-area: next;
        margin-left: 20px;
        text-align: right;

        svg {
            margin-bottom: -1px;
            margin-left: 13px;
        }
    }
}